# Connection string Neon Postgres kamu (dapat dilihat di dashboard Neon)
# Contoh: postgresql://user:password@ep-xxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Port server (opsional, default 8080)
PORT=8080
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/api/auth/google/callback
GOOGLE_FRONTEND_REDIRECT_URL=http://localhost:3000/dashboard
